<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row">
    <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark flex-shrink-1">
      <nav
        class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center sticky-top"
        id="sidebar"
      >
        <div class="text-center p-3">
          <img
            src=""
            alt="Profile pictture"
            class="img-fluid rounded-circle my-4 p-1 d-none d-md-block shadow"
          /><a href="#" class="navbar=brand mx-0 font-weight-bold text-nowrap"
            >franco
          </a>
        </div>
        <button
          type="button"
          class="navbar-toggler border-0 order-1"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
          aria-controls="nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse order-last" id="nav">
          <ul
            class="navbar-nav flex-column w-100 justify-content-center nav-link animate__animated animate__fadeInLeft animate__delay-1s"
          >
            <li class="nav-item">
              <a href="" class="nav-link"> Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link animate__animated animate__fadeInLeft animate__delay-1s"
                routerLink="Projects"
                routerLinkActive="active"
              >
                Proyects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link animate__animated animate__fadeInLeft animate__delay-1s"
                routerLink="Contact"
                routerLinkActive="active"
                >Contacto
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link animate__animated animate__fadeInLeft animate__delay-1s"
                routerLink="Resume"
                routerLinkActive="active"
                >Resume</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col px-0 flex-grow-1">
      <div class="container py-3">
        <article>
          <h1 class="font-weight-light">Hi I am Franco</h1>
          <div class="col"></div>
        </article>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
