<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        <strong>I'm Franco Brandan.</strong> My training and hands-on projects
        experience at BCIT Front-End Web Developer Program, have allowed me to
        further develop my passion and skillsets in the web development
        industry. With solid fundamentals in various front-end programming
        languages as well as web design, I mostly enjoy working with React JS,
        HTML5, CSS3, JavaScript and Adobe XD. I am currently learning
        TypeScript.
      </h3>
    </div>
  </div>
</div>
